<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GhostGame</title>
    <base href="~/" />

</head>

<body>
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/bundle.css" />

    @RenderBody()
    @RenderSection("scripts", required: false)
    
    <script src="~/js/bundle.js"></script>

</body>
</html>
